.product-item {
    -webkit-box-shadow: 10px 10px 20px 10px rgba(49, 178, 178, 0.63);
    -moz-box-shadow:    10px 10px 20px 10px rgba(49, 178, 178, 0.63);
    box-shadow:         4px 4px 8px 2px rgba(49, 178, 178, 0.83);
}

.product-footer {
    perspective: 1500px;
    padding-bottom: 10px;
}

.product-footer div {
    background-color: #bf328f;
    color: white;
    transform: rotateX(-10deg) rotateY(15deg);
    font-size: 20px;
}

body {
  padding-top: 50px;  
  background-color: white;
}

.jumbotron {
  background-color: white;
}

.navbar-custom { 
  font-size: 70;
}