.product-item {
    -webkit-box-shadow: 10px 10px 20px 10px rgba(49, 178, 178, 0.63);
    -moz-box-shadow:    10px 10px 20px 10px rgba(49, 178, 178, 0.63);
    box-shadow:         4px 4px 8px 2px rgba(49, 178, 178, 0.83);
}

.product-footer {
    perspective: 1500px;
    padding-bottom: 20px;
}

.product-footer div {
    color: white;
    transform: rotateX(-10deg) rotateY(15deg);
    font-size: 20px;
}


.product-footer div {
    color: white;
    transform: rotateX(-10deg) rotateY(15deg);
    font-size: 20px;
}

.product-Necklace{
  background-color: #505A91;
}

.product-EarRing{
  background-color: #8E2FBD;
}

.product-Bracelet{
  background-color: #360961;
}

.product-Clip{
  background-color: #8F2391;
}

.product-Anklet{
  background-color: #7E85DE;
}

.product-default{
  background-color: #DB6EC0;
}

#featured{
  vertical-align: middle;
}

#shb_custom{
  float: right;
}


body {
  padding-top: 50px;  
  background-color: white;
}

.jumbotron {
  background-color: white;
  
  padding: 25px;
}

.navbar-custom { 
  font-size: 70;
}

.footer {
    background-color: #434edb;
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    color: white;
}